<div class="container">
  <h3> List of all Products/inventory:</h3>

  <ol>
    <% @products.each do | product | %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ol>
  <hr>
  <ul>
    <li><%= link_to "Create a new Product", new_product_path %></li>
    <li><%= link_to "Go to all Warehoues", warehouses_path %></li>
  </ul>
  <hr>
</div>
