<h1> All Warehouses </h1>

<ol>
  <% @warehouses.each do |warehouse| %>
    <li><%= link_to warehouse.name, warehouse_path(warehouse) %></li>
  <% end %>
</ol>

<%= link_to "Create new Warehouse", new_warehouse_path %>
