<div class="container">
  <h2> List of all Warehouses: </h2>

  <ol>
    <% @warehouses.each do |warehouse| %>
      <li><%= link_to warehouse.name, warehouse_path(warehouse) %></li>
    <% end %>
  </ol>

  <hr>
  <ul>
    <li><%= link_to "Create new Warehouse", new_warehouse_path %></li>
    <li><%= link_to "Go to all Products", products_path %></li>
  </ul>
  <hr>
</div>
